@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.datePicker-popper {
  inset: auto auto 0px 0px !important;
  transform: translate(98px, -255px) !important;
}

.react-datepicker__input-container input {
  width: 100%;
}
